<div class="row">
    <div class="col-lg-12">
        <h1>Welcome to Cigar Diaries</h1>
        <hr>
        <h3>Sign up below or <a href="/login">login here</a>!</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="/signup" method="POST">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="user_name" name="user_name" placeholder="Name:" required>
            </div><br>
            <div class="form-group">
                <input type="email" class="form-control form-control-lg" id="user_email" name="user_email" placeholder="Email:" required>
            </div><br>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password:" required>
            </div><br>
            <div class="form-group text-center">
                <input type="submit" id="submit" class="btn btn-primary btn-lg" value="Sign Up">
            </div
        </form>
    </div>
</div