nav img {
    margin: 0 1%;
}

body {
    background: #363d43;
}

h1, h2, h3, h4, h5 {
    color: #ffffff;
}

hr {
    color: #ffffff;
}

.review-body {
    margin-top: 5%;
}

.review {
    background: #212529;
    color: #ffffff;
    padding: 1%;
    border-radius: 10px;
}

.review-footer {
    margin-bottom: 5%;
    color: #ffffff;
}

form {
    padding: 3% 0;
}