nav img {
    margin: 0 1%;
}

.nav-link {
    color: #adbac7 !important;
}

.alert {
    margin-top: 2%;
}

a {
    text-decoration: none;
}

body {
    background: #2d333b;
}

h1, h2, h3, h4, p {
    color: #adbac7;
}

hr {
    color: #ffffff;
}

.review-body {
    margin-top: 5%;
}

.review {
    background: #212529;
    color: #ffffff;
    padding: 1%;
    border-radius: 10px;
}

.review-footer {
    margin-bottom: 5%;
    color: #adbac7;
}

form {
    padding: 3% 0;
}