<div class="row">
    <div class="col-lg-12">
        <h1>Create Review</a></h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="/reviews/new" method="POST">
        <div class="form-group">
            <input type="hidden" name="user_id" value="<%= @user_id %>">
            <input type="text" class="form-control form-control-lg" id="review_title" name="review_title" placeholder="Review Title:">
        </div><br>
        <div class="form-group" placeholder="Review Cigar:">
            <input type="text" class="form-control form-control-lg" id="review_cigar" name="review_cigar" placeholder="Review Cigar:">
        </div><br>
        <div class="form-group" placeholder="Review Rating">
            <select class="form-control form-control-lg" id="review_rating" name="review_rating">
                <option value="1">Rating: 1 (worst)</option>
                <option value="2">Rating: 2</option>
                <option value="3" selected>Rating: 3</option>
                <option value="4">Rating: 4</option>
                <option value="5">Rating: 5 (best)</option>
            </select>
        </div><br>
        <div class="form-group">
            <textarea id="review" class="form-control form-control-lg" name="review_description" placeholder="Review Description:" rows="5"></textarea>
        </div><br>
        <div class="form-group text-center">
            <input type="submit" id="submit" class="btn btn-primary btn-lg" value="Save">
        </div
        </form>
    </div>
</div>