<div class="container">
    <h1>Welcome to Cigar Diaries</h1>
    <h3>Sign up below or <a href="./login.erb">login</a></h3>

    <form action="" method="POST">
        <label for="user_name">Name: </label><br>
        <input type="text" id="user_name" name="user_name">
        <br><br>
        <label for="user_email">Email: </label><br>
        <input type="email" id="user_email" name="user_email">
        <br><br>
        <label for="user_password">Password: </label><br>
        <input type="password" id="user_password" name="user_password">
        <br><br>
        <input type="submit" id="submit" value="Sign Up">
    </form>
</div>