<h1>Welcome Back to Cigar Diaries</h1>
<h3>Log in below or <a href="/">signup here</a>!</h3>

<form action="/login" method="POST">
    <label for="user_email">Email: </label><br>
    <input type="email" id="user_email" name="user_email">
    <br><br>
    <label for="password">Password: </label><br>
    <input type="password" id="password" name="password">
    <br><br>
    <input type="submit" id="submit" value="Log In">
</form>