<div class="container">
    <h3>Create a new cigar review below: </a></h3>

    <form action="/reviews/new" method="POST">
    <div class="form-group">
        <input type="hidden" name="user_id" value="<%= @user_id %>">
        <input type="text" class="form-control form-control-lg" id="review_title" name="review_title" placeholder="Review Title:">
    </div><br>
    <div class="form-group" placeholder="Review Rating:">
        <input type="text" class="form-control form-control-lg" id="review_cigar" name="review_cigar" placeholder="Review Cigar:">
    </div><br>
    <div class="form-group" placeholder="Review Rating">
        <select class="form-control form-control-lg" id="review_rating" name="review_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div><br>
    <div class="form-group">
        <textarea id="review" class="form-control form-control-lg" name="review_description" placeholder="Review Description:" rows="5"></textarea>
    </div><br>
        <input type="submit" id="submit" class="btn btn-primary" value="Save">
    </form>
</div>