<button><a href="/reviews/new">New Review</a></button>

<h1>Previous Reviews:</h1>

<% @reviews.each do |review| %>
    <h3><%= review.review_title %></h3>
    <h4><%= review.review_rating %></h4>
    <p><%= review.review_description %></p>
<% end %>